// color
$color-black: black;
$color-white: white;
$color-yellow: #fbff00;
$color-blue: #0066CB;
$color-blue-2:#205FA0;
$color-blue-3: #186BCC;
$color-orange: #FFA700;

$color-green: #44A080;




// break point 
$breakpoints:(
    '2000':2000px,
    '1900':1900px,
    '1800':1800px,
    '1600':1600px,
    '1500':1500px,
    '1400':1400px,
    'extra' :1366px,
    'extra-cus': 1250px,
    'extra-large':1200px,
    'extra-large1':1199px,
    '1085': 1085px,
    'large-cus' :1070px,
    '902' : 902px,
    'large':992px,
    'medium':768px,
    '660' : 660px,
    'small-cus': 610px,
    'small':576px,
    'small-max': 500px,
    'ip12':390px,
    '320': 320px,
)